
<div class="container">
    <div class="card shadow mb-4 mt-5">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
            <label>Taper le nom d'un produit: </label>
            <input type="text" class="form-control" name="nom" [(ngModel)]="nomProduit" 
                #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Date Création</th>
                    <th>Categorie</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    <tr  *ngFor="let produit of produits">
                        <td>{{produit.id}}</td>
                        <td>{{produit.nom}}</td>
                        <td>{{produit.price}}</td>
                        <td>{{ produit.created_at  }}</td>
                        <td>{{produit.categorie.nom}}</td>
                        <!--td>
                            <a class="btn btn-danger mx-2" (click)="deleteProduit(produit)">Supprimer</a>
                            <a class="btn btn-success" [routerLink]="['/update-produit',produit.id]">Modifier</a>
                        </td-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
